{% extends 'EkynaAdminBundle::base.xml.twig' %}

{% block response %}
{# TODO CDATA title #}
<title>{{ (resource_id ~ '.header.new')|trans|raw }}</title>
<form><![CDATA[
<form action="{{ path(route_prefix ~ '_new') }}" {{ form_enctype(form) }} method="post" class="form-horizontal form-with-tabs">
    {% include form_template %}
    {{ ui_form_footer(form) }}
</form>
]]></form>
{% endblock response %}
